

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="myModal">
	<!-- The Modal -->
	<div class="modal" id="myModal">
	    <div class="modal-dialog">
	      <div class="modal-content">
	  
	        <!-- Modal Header -->
	        <div class="modal-header">
	          <h4 class="modal-title">게시물 만들기</h4>
	          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	        </div>
	  
	        <!-- Modal body -->
	        <div class="modal-body">
	            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	                <div class="container-fluid">
	                  <a class="navbar-brand" href="#">Logo</a>
	                </div>
	            </nav>
	            <form method="post" action="/image" enctype="multipart/form-data">
	                <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
					<input type="file" name="pic"/>
					<button>사진전송</button>
				</form>
			</form>
	        </div>
	  
	        <!-- Modal footer -->
	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
	        </div>
	  
	      </div>
	    </div>
	  </div>
</div>