<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="registerings(registeringList)">
	<div class="shadow-sm p-4 mb-4 bg-white rounded-3" th:each="registering : ${registeringList}">
	    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	        <div class="container-fluid">
	        <a class="navbar-brand" href="#">
	        <img th:src="${registering.profile}" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
	        </a>
	        	<span style="color:white;">
		        	<b th:text="${registering.surname}"/>
				    <b th:text="${registering.name}"/>
				</span>
	        </div>
	    </nav>
	</div>
</div>