<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sideFragment">
	<nav class="navbar">
		<div class="container-fluid">
			<ul class="navbar-nav">
				<a class="navbar-brand" href="/hello">
					<img src="./common/home.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
				</a>
				<a class="navbar-brand" href="/ex">
					<img src="./common/profile.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
				</a><br><hr>
			</ul>
		</div>
	</nav>
</div>