<!Doctype html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>온라인 프로필</title>
	<meta charset="utf-8">
</head>
<body>
    <div class="shadow-sm p-4 mb-4 bg-white rounded-3" th:object="${registering}">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
              	<img src="./제갈량.jfif" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
              </a>
              <p style="color:white;">Tommorrow will be a good day!!</p>
            </div>
        </nav>
        <br><hr>
        surname: <p th:text="${registering.surname}"/><br><hr>
        name: <p th:text="${registering.name}"/><br><hr>
		username: <p th:text="${registering.username}"/><br><hr>
		year: <p th:text="${registering.year}"/><br><hr>
        month: <p th:text="${registering.month}"/><br><hr>
        day: <p th:text="${registering.day}"/><br><hr>
		gender: <p th:text="${registering.gender}"/><br><hr>
    </div>
</body>
</html>