<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
	    	<div class="row shadow p-4 mb-4 bg-white"> 
    		<div class="col=sm-12 p-3 card" style="position:relative;">
			    <img class="card-img-top" th:src="${profile.background}" alt="Card image" style="height:200px;z-index:1;" ><br><hr>
			 	
			 	<div class="dropdown" style="width:40px; z-index:2; position:relative; left:10px; top:-125px;">
			      	<img type="button" data-bs-toggle="dropdown" th:src="${profile.profile}" alt="Avatar Logo" style="width:200px;border: 3px solid gray;" class="rounded-pill dropdown-toggle"> 
					<ul class="dropdown-menu">
						<li><p class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal">프로필</p></li>
					</ul>			    
			    </div>
			    
			    <div style="position:relative; top: -275px; z-index:2;">
			    	<button type="button" class="btn btn-primary" style="float:right;" data-bs-toggle="modal" data-bs-target="#backModal">사진편집</button>
			    </div>
			    <div style="position:relative; top:-200px;">
			    	<span style="position:relative; left:225px;">
			    		<b th:text="${profile.surname}"/>
			    		<b th:text="${profile.name}"/>
			    	</span>
			    	<div class="btn-group" style="float:right;">
					    <button type="button" class="btn btn-primary">스토리지에 추가</button>
					    <button type="button" class="btn btn-primary">프로필 편집</button>
			    	</div>
			    </div>
			    <div class="card-body" />
			      <h4 class="card-title" />
			      <p class="card-text">Test</p>
			    </div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary">게시물</button>
					<button type="button" class="btn btn-success">정보</button>
					<button type="button" class="btn btn-dark">친구</button>
				</div>
			</div>
    	</div>
    	<div class="row shadow p-4 mb-4 bg-white">
    		<!-- Carousel -->
			<div id="demo" class="carousel slide" data-bs-ride="carousel">
			
			  <!-- Indicators/dots -->
			  <div class="carousel-indicators">
			    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
			    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
			    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
			  </div>
			  
			  <!-- The slideshow/carousel -->
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			        <div class="card" style="width:400px; height:400px;">
					    <img class="card-img-top" src="./내비치는세계.jfif" alt="Card image" style="width200px; height:200px;">
					    <div class="card-body">
					      <h4 class="card-title">John Doe</h4>
					      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
					      <a href="#" class="btn btn-primary">See Profile</a>
					    </div>
					</div>
			    </div>
			    <div class="carousel-item">
			      	<div class="card" style="width:400px; height:400px;">
			      		<img src="./앨런튜링.jfif" alt="Chicago" class="d-block" style="width200px; height:200px;">
					    <div class="card-body">
					      <h4 class="card-title">John Doe</h4>
					      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
					      <a href="#" class="btn btn-primary">See Profile</a>
					    </div>
					</div>
			    </div>
			    <div class="carousel-item">
			      	<div class="card" style="width:400px; height:400px;">
			      		<img src="./제갈량.jfif" alt="New York" class="d-block" style="width200px; height:200px;">
					    <div class="card-body">
					      <h4 class="card-title">John Doe</h4>
					      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
					      <a href="#" class="btn btn-primary">See Profile</a>
					    </div>
					</div>
			    </div>
			  </div>
			  
			  <!-- Left and right controls/icons -->
			  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon"></span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
			    <span class="carousel-control-next-icon"></span>
			  </button>
			</div>
    	</div>
    	<div class="row">
		    <div class="col-sm-1 p-3">
		    </div>
		    
		    <div class="col-sm-4 p-3">
		    	<div class="row shadow p-4 mb-4 bg-white rounded-3">소개</div>
		    	<div class="row shadow p-4 mb-4 bg-white rounded-3">사진<button type="button" class="btn btn-link" style="float:right;">모든 사진 보기</button></div>
		    	<div class="row shadow p-4 mb-4 bg-white rounded-3">친구<button type="button" class="btn btn-link" style="float:right;">모든 친구 보기</button></div>
		    </div>
		    
		    <div class="col-sm-5 p-3">
	    		<th:block th:replace="part/writing :: writing(${profile})"></th:block>
		    
		    	<th:block th:replace="part/comments :: comments(${profile}, ${CommentList})"></th:block>
			   	
			</div>
	    </div>
	    <th:block th:replace="part/backModal :: backModal"></th:block>	   	
	<th:block th:replace="part/profileModal :: profileModal"></th:block>
</th:block>
</html>



